/*This is the master Stylesheet for the whole site*/
h2{
    font-weight: bold;
    font-size: 1.5em;
}

h3{
    font-weight: regular;
    line-height: 1.1em;
    font-size: 1.5em;
    color: #555555;
}

.bg-dark {
    background-color: #51bd32 !important;
}

.ContentArea {
    display: flex;
    padding: 0 3%;
}



.sidebar{
    width: 20%;
}

.main{
    width: 80%;
}

.profile{
    width: 100%;
    text-align: center;
    padding: 0 10%;
    float: right;
}

.profile img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding: 15px 35%;
}

.Titlecard {
    padding: 15px 15px;
    border-width: 1px;
    background-color: rgb(246, 246, 246);
    border-color: rgb(246, 246, 246);
    border-style: solid;
    border-radius: 2px;
    margin: 10px 0;
}

.Footer{
    position:fixed;
    bottom:0px;
    height: 80px;
    padding-top: 10px;
    background-color: #51bd32;
    width: 100%;
    text-align: center;
    color: floralwhite;
}

.edit{
    height: 37px;
}

.Titlecard img {
    width: 100%;
    margin-bottom: 15px;
    border-radius: 2px;
}

.Titlecard .author{

}

.cardheader{
    display: flex;
    justify-content: space-between;
    height: 45px;
}

.amount{
    font-weight: bold;
    color: #28a745;
}

.ingredientlist li p{
    float: left;
}


.cite,
.cite a {
    font-size: 0.9em;
    color: rgba(36, 36, 36, 0.15);
}

.input-group .form-control, .input-group-btn .btn, .custom-file, .custom-file-input, .custom-file-label { z-index: inherit !important; }

@media only screen and (max-width: 670px){
    .ContentArea {
        display: block;
    }
    .main{
        width: 100%;
    }
    
}

@media only screen and (min-width: 671px) and (max-width: 1260px) {
    .Titlecard img{
        height: 200px;
        width: auto;
    }
    .Titlecard{
        display: flex;
        justify-content: flex-end;
        flex-direction: row-reverse;
    }
    .cardheader{
        justify-content: space-between;
        width: 100%;
    }
    h2{
        margin: 75px 30px;
    }
}

@media only screen and (min-width: 1261px) {
    .Titlecard{
        margin: 3px 10px;
        width: 40%;
        float: left;
        height: 400px;
    }

    .Titlecard img{
        object-fit: cover;
        height: 200px;
    }

   
    .ContentArea{
        width: 100%;
    }
}

