/*This is the master Stylesheet for the whole site*/
h1{
    font-weight: bold;
    text-align: center;
}

h2{
    font-weight: bold;
    font-size: 1.5em;
}

h3{
    font-weight: regular;
    line-height: 1.1em;
    font-size: 1.5em;
    color: #555555;
    margin-top: 14px;
}

h4{
    font-weight: bold;
    font-size: 1em;
    margin-top: 8px;
}

.bg-dark {
    background-color: #51bd32 !important;
}

.ContentArea {
    display: flex;
    padding: 0 3% 200px 3%;
}

.ContentArea > h1{
    text-align: center;
    margin-bottom: 25px;
}

.main{
    width: 80%;
}

.profile{
    width: 100%;
    text-align: center;
    padding: 0 10%;
}

.profile img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding: 15px 35%;
}

.Titlecard {
    padding: 15px 15px;
    border-width: 1px;
    background-color: rgb(246, 246, 246);
    border-color: rgb(246, 246, 246);
    border-style: solid;
    border-radius: 2px;
    margin: 10px 0 18px 0;
}

.App {
    position: relative;
    min-height: 100vh;
}

.Footer{
    position: absolute;
    bottom: 0;
    margin-top: 40px;
    height: 80px;
    background-color: #51bd32;
    width: 100%;
    text-align: center;
    color: floralwhite;
}

.Titlecard img {
    width: 100%;
    margin-bottom: 15px;
    border-radius: 2px;
}

.cardheader{
    display: flex;
    justify-content: space-between;
    height: 45px;
}

.ingredientlist li p{
    float: left;
}

.ingredientList h3{ 
    margin-top: 0px;
}

.ingredientList{
    padding: 15px 15px;
    border-width: 1px;
    background-color: rgb(246, 246, 246);
    border-color: rgb(246, 246, 246);
    border-style: solid;
    border-radius: 2px;
    margin: 10px 0;
}

.portions{
    margin-top: 15px;
    flex-direction: row;
    justify-content: flex-start;
    display: flex;
}

.portions h4{
    padding-right: 8px;
}

.portions input{
    width: 80px !important;
}


.cite,
.cite a {
    font-size: 0.9em;
    color: rgba(36, 36, 36, 0.15);
}

.btn-file {
    position: relative;
    overflow: hidden;
  }

.btn-file input[type=file] {
position: absolute;
top: 0;
right: 0;
min-width: 100%;
min-height: 100%;
font-size: 100px;
text-align: right;
filter: alpha(opacity=0);
opacity: 0;
outline: none;
background: white;
cursor: inherit;
display: block;
}

.imageDisplay{
    width: 50%;
    min-width: 50%;
    max-width: fit-content;
    display: block;
}

.input-group .form-control, .input-group-btn .btn, .custom-file, .custom-file-input, .custom-file-label { z-index: inherit !important; }

@media only screen and (max-width: 670px){
    .ContentArea {
        display: block;
    }
    .main{
        width: 100%;
    }
    .sidebar{
        width: 100%;
    }
}

@media only screen and (min-width: 671px) and (max-width: 1260px) {
    .Titlecard img{
        height: 320px;
        width: auto;
    }
    .cardheader{
        width: 100%;

    }
    .ContentArea {
        display: block;
        padding: 0 10% 200px 10%;
    }
    .main{
        width: 100%;
    }
    .sidebar{
        width: 100%;
    }
    h1{
        text-align: left;
    }
    
}

@media only screen and (min-width: 1261px) {
    .Titlecard{
        margin: 3px 10px 10px 0;
        width: 32%;
        float: left;
        height: 400px;
    }

    .Titlecard img{
        object-fit: cover;
        height: 200px;
    }

    .Recipecards{
        width: 100%;
    }

    .recipe{
        margin-left: 20%;
    }

    .cardheader{
        justify-content: space-between;
    }

    .sidebar{
        width: 400px;
    }
   
    .ContentArea{
        width: 100%;
        justify-content: space-between;
    }
    .profile{
        float: right;
    }
}

